@{
    ViewData["Title"] = "Đổi mật khẩu";
    Layout = null;
}

<h2>Thay đổi mật khẩu - @ViewBag.Email</h2>
<hr />

<table align="center">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td> Nhập mật khẩu mới : </td>
            <td>
                @Html.Password("Password")
                <span style="color:red; font-style:italic"> @ViewData["Loi1"] </span>
            </td>
        </tr>
             <tr style="height:40px">
            <td> Xác nhận mật khẩu mới : </td>
            <td>
                @Html.Password("PasswordConfirm")
                <span style="color:red; font-style:italic"> @ViewData["Loi2"] </span>
            </td>
        </tr>
        <tr style="height:40px">
            <td></td>
            <td>
                <input type="Submit" value="Đổi mật khẩu" />
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Trở về", "Dangnhap")
</div>


