@model WebBanSach.Models.Sach

@{
    ViewBag.Title = "Xoasach";
    Layout = "~/Views/Shared/_LayoutPAdmin.cshtml";
}

<h2>XÁC NHẬN THÔNG TIN XÓA</h2>

<h4 style="color:red; font-style:italic">Bạn chắc chắn xóa quyển sách này?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnhBia)
        </dt>

        <dd>

            <img src="@Url.Content("~/Hinhsanpham/"+  Model.AnhBia)" width="120px" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </dt>

        <dd>
            @String.Format("{0:dd/MM/yyy}", Model.NgayCapNhat)

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongTon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaChuDe)
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => Model.ChuDe.TenChuDe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaNXB)
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => Model.NhaXuatBan.TenNXB)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Sach")
        </div>
    }
</div>
